@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/photo-1526374965328-7f61d4dc18c5.avif');
}

fieldset, legend, h1, footer{
    background-color: lightgray;
}

header{
    margin: 32px 0 40px 0;
    text-align: center;
}

main{
    max-width: 300px;
    margin: auto;
}

h1{
    background-color: rgba(0, 0, 0, 0.814);
    text-shadow: 1px 0px 1px white;
    color: #005411;
    display: inline;
    padding: 5px;
    border-radius: 3px;
}

legend{
    color: #005411;
}



footer{
    display: block;
    max-width: 100px;
    text-align: center;
    margin: 5px auto;
}

footer > p{
    display: inline;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #005411;
}

